<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daftar Pinjaman</title>
</head>
<body>
    <h1>Daftar Simpanan</h1>
<a href="{% url 'tambah_simpanan' %}">Tambah Simpanan</a>
<table border="1">
    <tr>
        <th>Anggota</th>
        <th>Jenis</th>
        <th>Tanggal</th>
        <th>Jumlah</th>
        <th>Admin</th>
    </tr>
    {% for s in simpanan %}
    <tr>
        <td>{{ s.id_anggota.nama }}</td>
        <td>{{ s.id_jenis_simpanan.nama_jenis }}</td>
        <td>{{ s.tanggal_menyimpan }}</td>
        <td>{{ s.jumlah_menyimpan }}</td>
        <td>{{ s.id_admin.username }}</td>
    </tr>
    {% endfor %}
</table>

</body>
</html>
