<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail Pinjaman</title>
</head>
<body>

    <h1>Detail Pinjaman</h1>

    <table>
        <tr>
            <td><strong>Nama Anggota:</strong></td>
            <td>{{ pinjaman.nomor_anggota.nama_anggota }}</td> 
        </tr>
        <tr>
            <td><strong>Jumlah Pokok Pinjaman:</strong></td>
            <td>Rp. {{ pinjaman.jumlah_pinjaman }}</td> 
        </tr>
        <tr>
            <td><strong>Jumlah Cicilan:</strong></td>
            <td>Rp. {{ pinjaman.angsuran_per_bulan }}</td>
        </tr>
        <tr>
            <td><strong>Jasa:</strong></td>
            <td>Rp. {{ pinjaman.hitung_jasa }}</td> 
        </tr>
        <tr>
            <td><strong>Status:</strong></td>
            <td>{% if pinjaman.status == 'Lunas' %}Lunas{% else %}<span style="color:red;">Belum Lunas</span>{% endif %}</td>  <!-- Menampilkan Status -->
        </tr>
    </table>

    <h2>Riwayat Pembayaran</h2>

    <ul>
        {% for angsuran in pinjaman.angsuran_set.all %}  
            <li>Angsuran Pembayaran bulan {{ angsuran.tanggal_bayar|date:"F Y" }}: Rp. {{ angsuran.jumlah_bayar }}</li>
        {% empty %}
            <li>Belum ada riwayat pembayaran.</li>
        {% endfor %}
    </ul>

    <h3>Sisa Pinjaman:</h3>
    <p>Rp. {{ pinjaman.jumlah_pinjaman - pinjaman.total_bayar }}</p>  
</body>
</html>
